extends layout

block content
  div#container
  	header A Scanner Darkly
  	section#order-list
  		span#mixer
  		span#alcohohol
  		div#orders
block scripts
    script(src="/socket.io/socket.io.js")
    script(src="./client.js")