body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

h1{
}

.container{
	padding: 10%;
	margin: 0 auto;
}

.col-title {
	width: 20%;
	margin-right: 10%;
}

.col-item{
  margin-right: 12%;
}

#orders{
	padding: 5px;
}

.order{

}

.lable{

}
